.video{
    position: relative;
    max-height: 70rem;
    overflow: hidden;
    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#891c1e+0,9e37f2+67,9e37f2+67,ffffff+100&0.8+0,0.5+100 */
        background: linear-gradient(135deg,  rgba(137,28,30,0.8) 0%,rgba(158,55,242,0.6) 67%,rgba(255,255,255,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


    }
    video{
        display: block;
        width: 100%;
    }
}

.contenido-video{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    height: 100%;
    
    h2{
        display: flex;
        flex-direction: column;
        color: $blanco;
        font-size: 7rem;
        align-items: flex-start;

        span{
            background-color:  $rosa;
            font-size: 2rem;
            padding: 1rem 2rem;
        }
    }
}